.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a {
  display: block;

  text-decoration: none;
  color: var(--main-text);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0 10px;
}
.navbar ul li a:hover {
  color: var(--main-accent);
}
.search {
  display: flex;
  margin: 0 10px;
}
