.header {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
}
.headerMenu {
  display: flex;
  gap: 10px;
  align-items: center;
}
.headerMenu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 13px;
}
.headerMenu a:hover {
  color: var(--header-color);
}
