@import url("https://fonts.googleapis.com/css2?family=Bungee&family=IBM+Plex+Sans+KR&display=swap");
:root {
  --base-bg: #0f111a;
  --secondary-bg: #1a1d29;
  --third-bg: #262b3d;
  --main-text: #e6fff7;
  --sub-text: #8fa7a0;
  --main-accent: #33ffb8;
}
html {
  overscroll-behavior: none;
}
body {
  background: var(--base-bg);
  color: var(--main-text);

  font-family: "IBM Plex Sans KR", sans-serif;
}
.App {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  border: 1px solid var(--sub-text);
}
